
Tiny<br />
<%= image_tag @image.attach.url(:tiny) %><br />
Thumbnail<br />
<%= image_tag @image.attach.url(:thumbnail) %><br />
Portfolio Cover<br />
<%= image_tag @image.attach.url(:portfolio_cover) %><br />
Large<br />
<%= image_tag @image.attach.url(:large) %><br />
Original<br />
<%= image_tag @image.attach.url(:original) %><br />