<%= remotipart_response do %>  
    $('#lbl_submit_replacement').fadeOut('fast', function(){
		$('#btn_upload_image').fadeIn('fast', function(){
		  $('#lbl_submit_replacement').hide();
		});
	});
	
  <% if @error.nil? %>
	var img = $('<%= escape_javascript(render(:partial=>'mittycat/portfolios/portfolio_image', :object=>@image)) %>');
	img.hide();
	$('#images').append(img);
	img.fadeIn('fast');
	$('#portfolio_image_attach').val('');
  <% else %>    
	alert('<%=@error.message%>');
  <% end %>
  
<% end %>