<% content_for :page_head do %>
  <%= stylesheet_link_tag 'jquery.Jcrop' %>
  <%= javascript_include_tag 'jquery.color' %>
  <%= javascript_include_tag 'jquery.Jcrop.min' %>
<% end %>

<%= hidden_field_tag 'large_width', @image.image_geometry(:large).width %>
<%= hidden_field_tag 'large_height', @image.image_geometry(:large).height %>

<%= hidden_field_tag 'original_width', @image.image_geometry.width %>
<%= hidden_field_tag 'original_height', @image.image_geometry.height %>


<%= image_tag @image.attach.url(:large), :id => "cropbox" %>

<h4>Preview:</h4>
<div style="width:75px; height:75px; overflow:hidden">
  <%= image_tag @image.attach.url(:large), :id => "preview" %>
</div>
<hr />
<%= semantic_form_for([:mittycat, @image],
      :url => mittycat_portfolio_image_crop_path(:portfolio_id => params[:id], :portfolio_image_id=>@image.id),
      :method => :PUT,
      :html => { :class=> 'form', :id=>'editform' }
     ) do |f| %>
  <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
    <%= f.text_field attribute, :id => attribute %>
  <% end %>
  <p><%= f.submit "Crop" %></p>
<% end %>