<% if @portfolio.errors.any? %>
	<div id="error_description">
		<h2><%= pluralize(@portfolio.errors.count, "error") %>
			@prohibited this comment from being saved:</h2>
		<ul>
			<% @portfolio.errors.each do |err| %>
				<li><%= err %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<ul class="form">
	<li>
		<%= f.label t('.l_subject'), :class => 'required desc' %>
		<%= f.text_field :subject, :value => @portfolio.subject %>
	</li>
	<li>
		<%= f.label t('.l_callname'), :class => 'required desc' %>
		<%= f.text_field :callname, :value => @portfolio.callname %>
	</li>
	<li>
		<%= f.label t('.l_linkimg'), :class => 'desc' %>
		<%= f.file_field :linkimg %>
		<div class="image-port">
			<%= image_tag @portfolio.linkimg.url %>
		</div>
	</li>
	<li>
		<%= hidden_field_tag "get_callname_path", mittycat_getcallname_path %>
		<%= f.label t('.l_description'), :class => 'desc' %>
		<%= f.text_area :description, :cols => 45, :rows => 5, 
				:value => @portfolio.description, :class => 'textarea' %>
	</li>
</ul>

