<li class="image" id="image_<%=portfolio_image.id%>">
  <%= link_to image_tag(portfolio_image.attach.url(:thumbnail)), portfolio_image.attach.url(:original), :target => '_blank' %>
  <%= link_to "", mittycat_portfolio_image_delete_path(:portfolio_image_id => portfolio_image.id ), :method => :DELETE, :remote => true, :confirm => 'are you sure?', :class => 'x' %>
  <%= link_to "", mittycat_portfolio_image_cropping_path(:portfolio_image_id => portfolio_image.id), :class => 'crop' %>
  <%= link_to "all sizes", mittycat_portfolio_image_allsizes_path(:portfolio_image_id => portfolio_image.id), :target => '_blank' %>
</li>