
<div class="portfolio_images">
  <%= semantic_form_for([:mittycat, PortfolioImage.new(:portfolio_id => portfolio.id)], 
	:remote => true, :validate => true, :method => :POST,
 	:html => { :multipart => true, :class => 'form', :id=>'editform' } ) do |f| %>
  <%= f.hidden_field :portfolio_id, :value=>portfolio.id %>
  <ul class="form">
	<li>
		<%= f.label t('.l_attach_image'), :class => 'required desc' %>
		<%= f.file_field :attach %>
	</li>
	<li>
		<%= f.submit t('.b_submit'), :class=>'submit', :id=>'btn_upload_image'%>
		<label style="display: none;" id="lbl_submit_replacement">Uploading...</label>
	</li>
  </ul>
  <% end %>
 </ul>
 <div class="clear">&nbsp;</div>
  <!-- list of images -->
  <ul id="images">
  <% portfolio_images.each do |image| %>
    <%= render :partial=>'portfolio_image', :object=>image %>
  <% end unless portfolio_images.nil? %>
  </ul>
</div>