<h2><%= t('.form_title')%></h2>
<%= semantic_form_for([:mittycat, @portfolio], 
	:validate => true, :method => :PUT,
 	:html => { :multipart => true, :class => 'form', :id=>'editform' } ) do |f| %>

	<%= render :partial => 'form', :locals => {:f => f} %>
	<ul class="form">
		<li>
			<%= f.submit t('.b_submit'), :class => 'submit' %>
		</li>
	</ul>
	<div class="spacer">&nbsp;</div>
<% end %>

<!-- show images -->
<div class="portfolio_images_panel">
	<%= render :partial => 'portfolio_images', 
		:object => @portfolio.portfolio_images, :locals => {:portfolio => @portfolio} %>
	<div class="spacer">&nbsp;</div>
</div>