
<h2>Portfolios</h2>
<%= link_to "new portfolio", new_mittycat_portfolio_path, :class=>'button' %>
<table>
	<thead>
		<tr>
			<td><%= t('.th_subject') %></td>
			<td><%= t('.th_description')%></td>
			<td><%= t('.th_order') %></td>
			<td><%= t('.th_linkimg') %></td>
			<td>&nbsp;</td>
		</tr>
	</thead>
	<tbody>
	<% @portfolios.each do |p| %>
		<tr>
			<td><%= p.subject %></td>
			<td><%= p.description %></td>
			<td><%= p.order %></td>
			<td><%= image_tag p.linkimg.url %></td>
			<td>
				<%= link_to "edit", edit_mittycat_portfolio_path(p), :class=>'button btn_linkto' %>
				<%= link_to "delete", mittycat_portfolio_path(p), :remote => true,
						:method => :delete, :class=>'button btn_linkto', :confirm => t('.cfm_delete_portfolio') %>
			</td>
		</tr>
	<% end %>
	</tbody>
</table>