<h2><%= t('.form_title')%></h2>
<%= semantic_form_for([:mittycat, Portfolio.new], 
	:validate => true, :method => :POST,
 	:html => { :multipart => true, :class => 'form' } ) do |f| %>

	<%= render :partial => 'form', :locals => {:f => f} %>
	<ul class="form">
		<li>
			<%= f.submit t('.b_submit'), :class => 'submit' %>
		</li>
	</ul>
<% end %>