<script type="text/javascript">
	$(document).ready(function(){
		$('.nlink').html('');		
	});
</script>

<div id="globalnav">
	<ul>
		<li><%= link_to 'home', root_path, :class=>'nlink home' %></li>
		<li><%= link_to 'about', about_path, :class=>'nlink about' %></li>
		<li><%= link_to 'portfolios', portfolio_path, :class => 'nlink portfolio'%></li>
		<li><%= link_to 'blog', blog_path, :class => 'nlink blog'  %></li>
		<li><%= link_to 'album', album_path, :class => 'nlink album'  %></li>
		<li><%= link_to 'link', link_path, :class => 'nlink link'  %></li>
		<li><%= link_to 'contact', contact_path, :class => 'nlink contact'  %></li>
	</ul>
</div>
<div id="navfoot">
	<div class="leftbird"></div>
	<div class="rightswing"></div>
</div>