
<div id="portfolio_leftnav"	>
	<div id="title_portfolio" class="title">
		<!-- portfolio title -->
	</div>
	<div class="horiz_navigation">
		<ul>
			<% @portfolios.each do |p| %>
				<% if !@default_portfolio.nil? && @default_portfolio.id == p.id %>
				<li id="<%= p.callname %>"><%= link_to image_tag(p.linkimg.url(:original)),
					portfolio_path(:callname=>p.callname), :class => 'current callname' %></li>
				<% else %>
				<li id="<%= p.callname %>"><%= link_to image_tag(p.linkimg.url(:original)),
					portfolio_path(:callname=>p.callname), :class => 'callname' %></li>
				<% end %>
			<% end unless @portfolios.nil? %>
		</ul>
		<!-- horizontal navigation -->
	</div>
	<div class="thumbnails">
		<div class="top"></div>
		<div class="content">
			<div class="thumbs">
				<ul>
				<% @default_portfolio.portfolio_images.each do |pi|  %>
				  <li dir="<%= "#{pi.attach_width}x#{pi.attach_height}" %>">
					<a id="athumb-<%= pi.id %>"><%= image_tag(pi.attach.url(:thumbnail), 
					:class => 'thumbnail ' + ((@default_portfolio.portfolio_images.first.id == pi.id) ? 'current' : ''), 
					:id => "thumb-#{pi.id}", 
					:dir => pi.attach.url(:original),
					:width => '42px', :height=>'42px') %></a>
				  </li>
				<% end unless @default_portfolio.nil? %>
				</ul>
				<div class="clear">&nbsp;</div>
			</div>
		</div>
		<div class="bottom">
			<%= link_to "", {}, :class=>'link_prev', :alt=>'prev' %>
			<%= link_to "", {}, :class=>'link_next', :alt=>'next' %>
		</div>
	</div>
</div>

<div id="portfolio_content">
	<div class="mushrooms"></div>
	<div class="top"></div>
	<div id="album_cover" class="content">
		<div id="portfolio_holder" class="scroll-pane">
			<% begin %>
			<%= image_tag @default_portfolio.portfolio_images.first.attach.url %>
			<% rescue %>
			<% end %>
		</div>
	</div>
	<div class="bottom"></div>
</div>