
.image-port{
    img{ width: 75px; height: 75px; border: 3px dotted #336699; margin: 3px; }
    img[alt='Image_not_available']{ border-color: #FF0000; }
}


form.form{
    display: block;
    float: left;
	width: 45%;
}

.portfolio_images_panel{
	width: 50%;
    float: right;
    display: block;
	ul#images{
		margin: 0px; padding: 0px;
		margin-top: 5px;
		list-style: none;
		li.image{ 
			list-style: none; 
			display: block; 
			float:left;
			width: 75px; height: 75px;
			margin-right: 8px; margin-top: 8px;
			img{
				display: block;
				border: 1px solid #fff;
				width: 75px; height: 75px;
				z-index: 100;
			}
			.x{
				position: absolute;
				width: 25px; height: 29px; 
				display: block;
				background-image: asset-data-url('x.png');
				background-repeat: no-repeat;
				background-position: top left;
				margin-top: -89px;
				margin-left: -10px;
				z-index: 10239;
			}
			.crop{
				position: absolute;
				width: 25px; height: 29px;
				display: block;
				background-image: asset-data-url('crop.png');
				background-repeat: no-repeat;
				background-position: top left;
				margin-top: -12px;
				margin-left: 59px;
				z-index: 10239;
			}
		}
		
	}
}