/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require jquery-ui_flickr/jquery-ui
 *= require formtastic
 * require_tree . 
*/

H1, H2, H3, H4, H5, H6{ padding: 0px; margin: 0px;}
a {
	color: #fff;
	text-decoration: none;
	&:visited{  }
	&:hover{ color: #ccc; }
	&:active{ color: red; }
	&:link{ }
	img{ border:none; } /*-- no border for linked images --*/
}

div{ border: none; }
body{ margin: 0px auto; background-color: #fff; position: relative;
		font-family: verdana, arial, helvetica, sans-serif; font-size: 0.8em; color: #eee; 
		background-image: asset-data-url('background.jpg'); background-position: top;
		background-repeat: repeat-x;
		width: auto; height: 100%; }

#base{
	width: 1024px;
	margin: 0px auto;
	background-image: asset-data-url('background.jpg'); background-repeat: repeat-x;
	#content{
		.body{
			margin-right: 20px;
		}
	}
}

#globalnav{
	background-image: asset-data-url('header_bg.jpg'); height: 188px;
	ul { margin: 77px auto auto 110px; padding: 0px; float: left; }
	ul li { list-style: none; float: left; }
	.nlink{ display:block; background-repeat:no-repeat; background-position: bottom; } /* common styles for all nav links */
	.home{ width: 250px; height: 120px; margin-right: 70px;}
	.about{ background-image: asset-data-url('link_about.png'); width: 68px; height: 97px; }
	.portfolio{ background-image: asset-data-url('link_portfolio.png'); width: 102px; height: 97px; }
	.blog{ background-image: asset-data-url('link_blog.png'); width: 69px; height: 97px; }
	.album{ background-image: asset-data-url('link_album.png'); width: 61px; height: 97px; }
	.link{ background-image: asset-data-url('link_link.png'); width: 83px; height: 97px; }
	.contact{ background-image: asset-data-url('link_contact.png'); width: 68px; height: 97px; }
}
#navfoot{
	background-image: asset-data-url('header_foot.jpg');
	height: 34px; 
	.leftbird{
		background-image: asset-data-url('left_bird.png');
		background-position: right;
		background-repeat: no-repeat;
		width: 143px; height: 194px;
		display: block; 
		position: absolute;
		z-index:10020;}
	.rightswing{
		background-image: asset-data-url('right_swing.png'); 
		width: 130px; height: 279px;
		display: block;
		z-index: 10021;
		float: right;
		position: relative;
	} 
}

/* here is where the page content goes */
#content { 
	width: 840px; margin: 0px auto 1px 94px;
	padding-bottom: 110px;
	min-height: 530px;
	background-image: asset-data-url('content_bg.jpg'); 
	background-repeat: repeat-y;
	.submenu ul{ margin: 0px; padding: 0px	; list-style: none; }
	.submenu ul li {}
	.body{
		padding: 20px 40px 230px 40px;
		position: relative;
		z-index: 10022; }
	.title{
		background-repeat: no-repeat; background-position: left; 
		display:block;
		width: 199px;
		height: 54px;
	}
}


/* page titles */
/*#title_about  { background-image: asset-data-url('title_about.png');   }
#title_blog   { background-image: asset-data-url('title_blog.png');    }
#title_album  { background-image: asset-data-url('title_album.png');   }
#title_link   { background-image: asset-data-url('title_link.png');    }
#title_contact{ background-image: asset-data-url('title_contact.png'); }*/
#title_portfolio{ background-image: asset-data-url('title_portfolio.png'); }


#footer {
	position: relative;
	margin: -210px 0px 0px 0px;
	padding: 0px;
	background-image: asset-data-url('footer_cloud_bg.png');
	background-repeat: repeat-x;
	background-position: center top;
	width: 100%; height: 250px; 
	z-index: 10066;
	bottom: 0;
	min-width: 1024px;
}

/* here we define some global class styles */
.jquery-link{ cursor: pointer;}
.clear{ clear:left; height: 1px; width: 1px;  }

/* error message */
.flash_error{ width: 100%; padding: 5px; }

/* Submenu for inner context */
.submenu {
	height: 30px;
	margin: 0px auto auto 0px; 
	ul{ list-style: none; }
	ul li a{ float: left; display: block; margin: 0px 5px; }
}

/* form elements */
.inputform {
	label{ float: left; width: 150px; font-weight: bold;}
	input, textarea{ margin-bottom: 5px; float: left; }
	br{ clear: left; }
	.boxes{ width: 1em; }
	.submit{ margin-left: 150px; margin-top: 5px; }
	.message{ float: left; color: #ffcfcf; margin: 3px auto auto 5px; font-weight: normal; vertical-align: middle; }
}


/*--  --*/
