

ul.form{
	list-style: none;
	margin: 0px; padding: 0px;
	
	li{
		position:relative; /* Makes Instructs z-index stay on top in IE. */
		white-space: normal;
		margin-top: 3px;
		label, div label, span label{
			margin:0;
			padding-top:3px;
			line-height:160%;
			color:#CCC;
			display:block;
		}
	}
	
	label.desc{ 
		display: block; 
		line-height: 150%;
		margin: 0;
		padding: 0 0 3px 0;
		border: none;
		display: block;
		white-space: normal;
		font-weight: normal;
		width: 100%;
	}
	
	
	input[type="text"]{ padding: 1px; }
	input.text, input.search, input.file, textarea.textarea, select.select, textarea.text{
		font-family:"Lucida Grande", Tahoma, Arial, sans-serif;
		font-size: 12px;
		color:#333;
		margin:0;
		padding:1px 0;
	}
	
	input.text, input.search, textarea.textarea, textarea.text{
		border-top:1px solid #7c7c7c;
		border-left:1px solid #c3c3c3;
		border-right:1px solid #c3c3c3;
		border-bottom:1px solid #ddd;
		background:#fff image-url("field-bg.png")  repeat-x top;
	}
	
	.inline-errors{ display: inline; }
	.required{
		display:inline;
		float:none;
		color: #f6accd !important;
		font-weight:normal;
		margin:0;
		padding:0;
	}
	
	.submit{ clear: right; display: block; margin-top: 3px; padding: 5px; }
	
}



/*-- formtastic override --*/
.formtastic{
	.inline-errors {
		color: #CC0000;
		margin: 0px;
	}
}