/*
 *=require jquery.jscrollpane
 **/

@mixin mouse-off-image{
    zoom: 1;                    /*-- Triggers layout */
    filter:alpha(opacity=60);
    -moz-opacity:.60;
    -khtml-opacity: 0.6;
    opacity:.60;
}

@mixin mouse-on-image{
    zoom: 1;
    filter:alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity: 1;
    opacity:1;
}

#home_portfolio
{
	margin-top: -20px; /*-- Move content up a bit --*/
	#title_portfolio { background-image: asset-data-url("title_portfolio.png"); }
	#portfolio_leftnav
	{
		width: 210px;
		float: left; 
		.thumbnails { margin: 0px auto; }
		.top {
		  margin: 0px auto;
		  background-image: asset-data-url("portfolio_leftnav-top.png");
		  background-repeat: no-repeat;
		  height: 18px;
		  width: 197px;
		}
		.bottom {
			margin: 0px auto;
			background-image: asset-data-url("portfolio_leftnav-bottom.png");
			background-repeat: no-repeat;
			width: 197px; height: 45px;
			a {
				display: block;
				width: 60px; height: 30px; 
			}
			a.link_prev {
			  float: left;
			  margin-left: 20px;
			}
		}
		.bottom a.link_next {
			float: right;
			margin-right: 20px; 
		}
		
		/* navigation content links */
		.thumbnails {
			.content {
				margin: 0px auto;
				padding-bottom: 8px;
				width: 197px; height: 200px;
				background-image: asset-data-url("portfolio_leftnav-bg.png");
				background-repeat: repeat-y; 
			}
			.thumbs { margin: 0px 6px 0px 16px; }
			.thumbs ul { margin: 0px; padding: 0px; list-style: none; 
				li{
					display: block;
					float:left;
					margin: 3px;
					img.thumbnail{
						border: 3px solid #CCC; 
						cursor: pointer;
						border-radius: 6px;
						@include mouse-off-image;
						&:hover{
							border-color: #FFF;
							@include mouse-on-image;
						}
					}
					img.current{
						border: 3px solid #FFF;
						@include mouse-on-image;
					}
				}
			}
		}
	}
	
	/* -- center image display area div -- */
	.scroll-pane {
		width: 420px; height: 300px;
		overflow: auto;
		margin: 0px auto auto 20px;
	}
	
	#cimage img { white-space: nowrap; }

	/* -- end of center image display area div -- */
	#portfolio_content {
		float: right;
		width: 510px;
		.mushrooms {
			background-image: asset-data-url("mushrooms.jpg");
			width: 170px; height: 55px;
		}
		.top {
			display: block;
			background-image: asset-data-url("portfolio_content_top.jpg");
			background-repeat: no-repeat;
			height: 27px;
		}
		.content{
			position: relative;
			background-image: asset-data-url("portfolio_content_bg.jpg");
			background-repeat: repeat-y;
		}
		.bottom {
			background-image: asset-data-url("portfolio_content_bottom.jpg");
			background-repeat: no-repeat;
			height: 27px;
		}
		/**-- display a loading background when image is being downloaded --**/
		.loading-bg{
			background-image: asset-data-url('loading.jpg');
			background-repeat: no-repeat;
			background-position: 50.000000%, 50.00000%;
		}
	}

	/*-- Horiz navigation of portfolios list --*/
	.horiz_navigation {
		height: 56px;
		margin-bottom: -12px;
		z-index: 2023; 
		ul { 
			list-style: none;
			margin: 0px;
			padding: 0px;
			li { float: left; } 
			a {
				display: block;
				background-repeat: no-repeat;
				@include mouse-off-image;
				&:hover{ @include mouse-on-image; }
			}
			
			a.current{ @include mouse-on-image; }
		}
	}

}