<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
		"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title><%= t('page.page_title') %></title>
  <!-- styles -->
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    params[:controller] %>
  <!--[if IE 6]><%= stylesheet_link_tag 'ie6' %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag 'ie7' %><![endif]-->

  <!-- javascriptes -->
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag params[:controller] %> 

  <%= csrf_meta_tags %>
  <!-- page specific -->
  <%= yield :page_head %>
  <% if params[:debug].nil? %>
	<script type="text/javascript">
		$(document).ready(function(){
		});
	</script>
  <% end %>
</head>
<body>
	<div id="base">
	  <%= render 'shared/globalnav' %>
	  <div id="content">
		  <div class="body">
		  <%= flash_helper %>
		  <%= content_for?(:main) ? yield(:main) : yield %>
		  </div>
	  </div>
	</div>
	
	<div id="footer">
		<div class="cloud"></div>
	</div>
</body>
</html>
