
<% content_for :page_head do %>
	<%= stylesheet_link_tag "form" %>
	<%= stylesheet_link_tag "mittycat" %>
<% end %>

<% content_for :main do %>
	<ul id="admin_nav">
		<li><%= link_to 'manage portfolio', mittycat_portfolios_path, :class=>'n_portfolio' %></li>
	</ul>
	<div class="clear">&nbsp;</div>
	<%= yield %>
<% end %>

<%= render :file => 'layouts/application' %>